services:
  mongodb:
    image: mongo:latest
    container_name: tamagotchi-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: always

volumes:
  mongodb_data:
