<main id="auth-page" class="page active">
    <article class="auth-header">
        <h1>🎮 Tamagotchi HTML</h1>
        <p>Aprende HTML jugando con tu mascota virtual</p>
    </article>

    <section class="auth-container">
        <nav class="auth-tabs">
            <button id="login-tab" class="tab-button active">Iniciar Sesión</button>
        </nav>
        <article id="forms-container"></article>
    </section>

    <template id="login-form-template">
        <form id="login-form" class="auth-form active">

            <label class="form-group" for="login-email">Email
                <input type="email" id="login-email" required placeholder="tu@email.com">
            </label>

            <label class="form-group" for="login-password">Contraseña
                <input type="password" id="login-password" required placeholder="••••••••">
            </label>

            <button type="submit" id="login-button" class="btn-primary">Entrar</button>
            <p id="login-error" class="error-message"></p>
        </form>
    </template>


</main>